@import '../../assets/variables';

.level-texts-list {
  border: 1px solid $grey-light;
  border-bottom: none;
  background: $white;
  a {
    display: block;
    padding: $space-sm $space-md;
    border-bottom: 1px solid $grey-light;

    &:hover {
      background: $hover-color;
    }
  }
}
