@import '../../assets/variables';

.admin-form {
  width: 400px;
  margin: 0 auto;

  input,
  select,
  textarea {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  textarea {
    display: block;
    width: 100%;
    resize: vertical;
  }
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}
