<div class="admin-form">
  <form id="add-text-form" (ngSubmit)="onSubmit()">
    <input type="text" id="text-title" name="text-title" [(ngModel)]="textTitle" placeholder="Enter title" required>
    <input type="text" id="text-author" name="text-author" [(ngModel)]="textAuthor" placeholder="Enter author">
    <select name="text-level" id="text-level" [(ngModel)]="textLevel">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
    </select>
    <input type="text" id="text-audio" name="text-audio" [(ngModel)]="textAudio" placeholder="Enter audio">
    <input type="text" id="text-duration" name="text-duration" [(ngModel)]="textDuration" placeholder="Enter duration">
    <textarea id="text-body" name="text-body" rows="8"
              [(ngModel)]="textBody" placeholder="Enter text" required></textarea>
    <button type="submit" class="btn">Save</button>
  </form>

  <div class="flash" [ngClass]="{'shown': isFlashShown }">Text saved successfully!</div>
</div>
