@import '../../assets/variables';

.text-content {
  padding: 20px;
  background: $white;

  .text-title {
    margin-bottom: 10px;
  }

  .text-author {
    font-weight: 100;
    margin-bottom: 20px;
  }

  .text-body {
    margin: 20px 0;
  }
}

form {
  margin-top: 10px;
}

audio {
  max-width: 100%;
  width: 100%;
}

.text-edit-form {
  padding: 10px;
  background: $white;
  color: $black;

  input,
  select,
  textarea {
    color: $black;
  }

  label {
    display: block;
    margin: 10px 0;
  }

  textarea {
    display: block;
    width: 100%;
    resize: vertical;
  }
}
