@import '../../assets/variables';

.text-content {
  padding: $space-md;
  background: $white;

  .text-title {
    margin-bottom: $space-sm;
  }

  .text-author {
    font-weight: 100;
    margin-bottom: $space-md;
  }

  .text-body {
    margin: $space-md 0;

    p {
      margin-bottom: $space-md;
    }
  }
}

form {
  margin-top: $space-sm;
}

audio {
  max-width: 100%;
  width: 100%;
}

.text-edit-form {
  padding: $space-sm;
  background: $white;
  color: $black;

  input,
  select,
  textarea {
    color: $black;
  }

  label {
    display: block;
    margin: $space-sm 0;
  }

  textarea {
    display: block;
    width: 100%;
    resize: vertical;
  }
}
