// Colors
$background-main: #5cdb95;
$black: #121212;
$white: #ffffff;
$grey-light: #e1e1e1;
$grey-medium: #BABABA;
$contrast-primary: #05386b;
$contrast-secondary: #01FFC3;

$hover-color: rgba($contrast-primary, .2);
